<div class="col-md-6">
    <h2 ng-click="$ctrl.loginTo()">Login</h2>
    <form ng-submit="vm.loginTo()">
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="text" ng-model="vm.email"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password" ng-model="vm.password"/>
        </div>
        <div class="form-actions">
            <button type="Submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <button ng-click="$ctrl.loginTo()">asdas</button>
</div>