
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: users">
    <tr>
        <td>
            <span data-bind="text: FirstName"></span>
        </td>
        <td>
            <span data-bind="text: LastName"></span>
        </td>
        <td>
            <span data-bind="text: DateOfBirth"></span>
        </td>
        <td>
            <span data-bind="text: Gender"></span>
        </td>
    </tr>
    </tbody>
</table>